@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Moulpali&display=swap');
.krorya-color-primary {
    color: #D7AD45;
}

.krorya-color-primary-background {
    background-color: #D7AD45
}

.secondary {
    color: #AC1927
}

.background1 {
    background-color: #F5F5F5
}

.moulpali-regular {
    font-family: "Moulpali", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, .kantumruy-pro {
    font-family: "Kantumruy Pro", sans-serif;
    color: #2B2B2B;
    font-optical-sizing: auto;
}

.text-color{
    color: #2B2B2B;
}
.krorya-welcome {
    background: linear-gradient(180deg, #AE8E3E 0%, #AF8620 38%, #322608 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Fallback for non-supporting browsers */
}
.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}